html {
  height: 100%;
  width: 100%;
}

.button {
  padding: 40px;
  margin: 6px 8px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.row {
  margin: 12 px 0;
}

.row input {
  font-size: 20px;
  margin: 0;
  padding: 8px 0px;
  border: 2px solid black;
  border-radius: 8px;
}

.bold {
  font-display: bold;
}